<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UM Services for Aggregate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/GetUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetClassList</servlet-name>
    <servlet-class>GetClassList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClassList</servlet-name>
    <url-pattern>/GetClassList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetExamplesActivity</servlet-name>
    <servlet-class>GetExamplesActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExamplesActivity</servlet-name>
    <url-pattern>/GetExamplesActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetQuestionsActivity</servlet-name>
    <servlet-class>GetQuestionsActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestionsActivity</servlet-name>
    <url-pattern>/GetQuestionsActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetContentConcepts</servlet-name>
    <servlet-class>GetContentConcepts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetContentConcepts</servlet-name>
    <url-pattern>/GetContentConcepts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserKnowledge</servlet-name>
    <servlet-class>GetUserKnowledge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserKnowledge</servlet-name>
    <url-pattern>/GetUserKnowledge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserActivity</servlet-name>
    <servlet-class>GetUserActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserActivity</servlet-name>
    <url-pattern>/GetUserActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetQJActivity</servlet-name>
    <servlet-class>GetQJActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQJActivity</servlet-name>
    <url-pattern>/GetQJActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetQPActivity</servlet-name>
    <servlet-class>GetQPActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQPActivity</servlet-name>
    <url-pattern>/GetQPActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSKActivity</servlet-name>
    <servlet-class>GetSKActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSKActivity</servlet-name>
    <url-pattern>/GetSKActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetWEActivity</servlet-name>
    <servlet-class>GetWEActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWEActivity</servlet-name>
    <url-pattern>/GetWEActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSaltActivity</servlet-name>
    <servlet-class>GetSaltActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSaltActivity</servlet-name>
    <url-pattern>/GetSaltActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetParsonsActivity</servlet-name>
    <servlet-class>GetParsonsActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParsonsActivity</servlet-name>
    <url-pattern>/GetParsonsActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetQPetActivity</servlet-name>
    <servlet-class>GetQPetActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQPetActivity</servlet-name>
    <url-pattern>/GetQPetActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMCHQActivity</servlet-name>
    <servlet-class>GetMCHQActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMCHQActivity</servlet-name>
    <url-pattern>/GetMCHQActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetLastActivity</servlet-name>
    <servlet-class>GetLastActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLastActivity</servlet-name>
    <url-pattern>/GetLastActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPCRSActivity</servlet-name>
    <servlet-class>GetPCRSActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPCRSActivity</servlet-name>
    <url-pattern>/GetPCRSActivity</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>GetPCEXActivity</servlet-name>
    <servlet-class>GetPCEXActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPCEXActivity</servlet-name>
    <url-pattern>/GetPCEXActivity</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetPCEXExampleActivity</servlet-name>
    <servlet-class>GetPCEXExampleActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPCEXExampleActivity</servlet-name>
    <url-pattern>/GetPCEXExampleActivity</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>GetPCEXChallengeActivity</servlet-name>
    <servlet-class>GetPCEXChallengeActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPCEXChallengeActivity</servlet-name>
    <url-pattern>/GetPCEXChallengeActivity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSQLTutorActivity</servlet-name>
    <url-pattern>/GetSQLTutorActivity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCodeworkoutActivity</servlet-name>
    <url-pattern>/GetCodeworkoutActivity</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>GetCTATActivity</servlet-name>
    <url-pattern>/GetCTATActivity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCodeLabActivity</servlet-name>
    <url-pattern>/GetCodeLabActivity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDBQALtiActivity</servlet-name>
    <url-pattern>/GetDBQALtiActivity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetReadingActivity</servlet-name>
    <url-pattern>/GetReadingActivity</url-pattern>
  </servlet-mapping>
</web-app>